body{
    background-color:#eee;
    grid-template-rows: 3;
}

#content{
    margin-left: 35%;
    max-width: 700px;
    background-color:beige;
    overflow: hidden;
    max-height: 13%;
    font-size: 3em;
    opacity: 0;
    text-align: center;

    -webkit-transition: opacity 0.7s;
    -moz-transition: opacity 0.7s;
    transition: opacity 0.7s;
    
}
#content.show{
    opacity: 5;

#content.open1{
    max-height:250px;
}

#content.open2{
    max-height: 251px;
    }
    
#content.open3{
    max-height: 400px;
    }


 