body{
    background-color:#eee;
    grid-template-rows: 3;
}

#content{
    margin-left: 35%;
    max-width: 700px;
    background-color:beige;
    overflow: hidden;
    max-height: 13%;
    font-size: 3em;
    opacity: 0;
    text-align: center;

    -webkit-transition: opacity 0.7s;
    -moz-transition: opacity 0.7s;
     transition: opacity 0.7s;
    
}
#content.show{
    opacity: 5;
}

#color-changer{
    width: 200px;
    height: 100px;
    margin: 30px auto;
    border: 1px solid #000;
    background: #fff;

    -webkit-transition: opacity 0.7s;
    -moz-transition: opacity 0.7s;
    transition: opacity 0.7s;

}
form{
    margin-left: 40%;
    line-height: 2em;

}
 
#message{
    margin-left: 40%;
      
}